*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    min-height: 100vh;
}

html {
    font-size: 62.5%; /* font is 10px */
    scroll-behavior: smooth;
}